.pagination {
    display: inline-block;
    padding-bottom: 30px;
}

.buttonRight {
    border-color: transparent;
    background-color: #eeeff4;
}

.buttonLeft {
    margin-left: 5px;
    border-color: transparent;
    background-color: #eeeff4;
}

.input {
    margin-right: 5px;
    border-color: #eeeff4;
    border-style: solid;
    text-align: center;
}