.bg {
    background-image: url('../../assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    height: 100vh;
    width: 100%;
}

.options {
    position: absolute;
    top: 180px;
    left: 410px;
}

h1 {
    font-size: 70px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}