.navbar {
    height: 60px;
    margin-top: 2px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    padding-top: 15px;
    box-shadow: 2px 2px 15px rgb(239, 239, 239);
}

.button {
    background-color: #D3E5EB;
    border: none;
    color: #464A4B;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 100px;
    width: 200px;
}